In [ ]:
import pandas as pd
import

In [4]:
df = pd.read_csv("hotel_data.csv")
df

,city,country,name,price,rating,vote,distance
0,Madrid,Spain,Habitación Familiar,"SEK 1,542",Scored 6.3,480 reviews,7.5 km from centre
1,Madrid,Spain,Hostel Acacias,"SEK 1,565",Scored 6.4,"1,393 reviews",1.5 km from centre
2,Madrid,Spain,Hostel OASIS,"SEK 1,879",Scored 6.4,129 reviews,4.3 km from centre
3,Madrid,Spain,Hostel Vida Verde,"SEK 1,916",Scored 5.5,200 reviews,7.7 km from centre
4,Madrid,Spain,Hostel SOFÍA,"SEK 1,929",Scored 4.8,599 reviews,6.1 km from centre
5,Madrid,Spain,Hostel Estrella 20,"SEK 2,006",Scored 7.8,188 reviews,0.7 km from centre
6,Madrid,Spain,Madrid Downtown Hostel,"SEK 2,023",Scored 7.0,"4,708 reviews",0.6 km from centre
7,Madrid,Spain,Motion Chueca Hostel,"SEK 2,141",Scored 4.9,"7,060 reviews",0.6 km from centre
8,Madrid,Spain,Hostel sofía,"SEK 2,157",Scored 5.5,"2,501 reviews",6.1 km from centre
9,Madrid,Spain,Arc House Pop Art,"SEK 2,168",Scored 6.3,541 reviews,1.1 km from centre
10,Madrid,Spain,Debod Hostel,"SEK 2,250",Scored 8.1,848 reviews,1.8 km from centre
11,Madrid,Spain,Hostel M Torres,"SEK 2,261",Scored 8.4,257 reviews,11.9 km from centre
12,Madrid,Spain,Cibeles Hab Compartida masculina 8 X,"SEK 2,458",Scored 8.0,15 reviews,0.6 km from centre
13,Madrid,Spain,Madrid Motion Hostels,"SEK 2,480",Scored 5.9,"4,594 reviews",350 m from centre
14,Madrid,Spain,Hostels Meetingpoint,"SEK 2,493",Scored 7.0,"2,324 reviews",0.8 km from centre
15,Madrid,Spain,Petit Hostel La Latina,"SEK 2,494",Scored 8.0,"3,847 reviews",1.4 km from centre
16,Madrid,Spain,Hostel Thirty One,"SEK 2,505",Scored 5.3,"2,181 reviews",3.9 km from centre
17,Madrid,Spain,Multi Hostel Calvario,"SEK 2,516",Scored 6.9,321 reviews,0.6 km from centre
18,Madrid,Spain,Mola Hostel,"SEK 2,671",Scored 8.2,"4,675 reviews",300 m from centre
19,Madrid,Spain,Petit Hostel Palacio Real,"SEK 2,748",Scored 8.5,"2,983 reviews",1.2 km from centre
20,Madrid,Spain,min hostel capsules,"SEK 2,829",Scored 6.5,540 reviews,5.6 km from centre
21,Madrid,Spain,Hostelfly,"SEK 2,980",Scored 8.4,"7,000 reviews",12.6 km from centre
22,Madrid,Spain,1-Habitación compartida masculina 8X,"SEK 3,015",Scored 8.0,161 reviews,0.6 km from centre
23,Madrid,Spain,The Adventure Hostel Gran Vía,"SEK 3,106",Scored 7.6,"1,389 reviews",0.7 km from centre
24,Madrid,Spain,Live It Madrid Chamberi,"SEK 3,722",Scored 7.3,226 reviews,1.7 km from centre

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   price     25 non-null     object
 2   rating    25 non-null     object
 3   vote      25 non-null     object
 4   distance  25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [ ]:
# in column "rating": value "Scored 5.9" delete "Scored", change the str type to float type
# in column "vote": value "321 reviews" delete "reviews", change the str type to int
# in column "distance": change column name "distance" to "distance from center(km)", change delete "km from centre", change the str type to float type

df["rating"] = df["rating"].apply(lambda x: float(x.split(" ")[1]))

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      25 non-null     object
 1   price     25 non-null     object
 2   rating    25 non-null     float64
 3   vote      25 non-null     object
 4   distance  25 non-null     object
dtypes: float64(1), object(4)
memory usage: 1.1+ KB

In [17]:
df

,name,price,rating,vote,distance
0,Hostel Acacias,"SEK 1,438",6.4,"1,393 reviews",1.5 km from centre
1,Habitación Familiar,"SEK 1,542",6.3,480 reviews,7.5 km from centre
2,Hostel OASIS,"SEK 1,542",6.4,129 reviews,4.3 km from centre
3,Hostel Vida Verde,"SEK 1,606",5.5,200 reviews,7.7 km from centre
4,Madrid Downtown Hostel,"SEK 1,898",7.0,"4,708 reviews",0.6 km from centre
5,Hostel SOFÍA,"SEK 1,948",4.8,599 reviews,6.1 km from centre
6,Hostel Estrella 20,"SEK 2,058",7.8,186 reviews,0.7 km from centre
7,Arc House Pop Art,"SEK 2,064",6.3,541 reviews,1.1 km from centre
8,Hostel sofía,"SEK 2,157",5.5,"2,501 reviews",6.1 km from centre
9,Motion Chueca Hostel,"SEK 2,200",4.9,"7,060 reviews",0.6 km from centre
10,Hostel M Torres,"SEK 2,261",8.4,257 reviews,11.9 km from centre
11,Cibeles Hab Compartida masculina 8 X,"SEK 2,342",8.0,15 reviews,0.6 km from centre
12,Petit Hostel La Latina,"SEK 2,442",8.0,"3,847 reviews",1.4 km from centre
13,Hostels Meetingpoint,"SEK 2,493",7.0,"2,324 reviews",0.8 km from centre
14,Hostel Thirty One,"SEK 2,505",5.3,"2,181 reviews",3.9 km from centre
15,Multi Hostel Calvario,"SEK 2,516",6.9,321 reviews,0.6 km from centre
16,Madrid Motion Hostels,"SEK 2,555",5.9,"4,594 reviews",350 m from centre
17,Mola Hostel,"SEK 2,671",8.2,"4,675 reviews",300 m from centre
18,Petit Hostel Palacio Real,"SEK 2,748",8.5,"2,983 reviews",1.2 km from centre
19,min hostel capsules,"SEK 2,829",6.5,540 reviews,5.6 km from centre
20,Hostelfly,"SEK 2,980",8.4,"6,999 reviews",12.6 km from centre
21,1-Habitación compartida masculina 8X,"SEK 3,015",8.0,161 reviews,0.6 km from centre
22,Bed Madrid Hostel by Bossh! Hotels,"SEK 3,061",7.1,613 reviews,1 km from centre
23,The Adventure Hostel Gran Vía,"SEK 3,106",7.6,"1,389 reviews",0.7 km from centre
24,Onefam Sungate,"SEK 3,255",9.4,"2,378 reviews",250 m from centre

In [36]:
df["vote"] = df["vote"].apply(lambda x: int(x.split(" ")[0].replace(",","")))

In [33]:
a = "2,378 reviews"

b = a.split(" ")[0].replace(",","")

b

'2378'

In [34]:
type(b)

str

In [25]:
b

'2,378'

In [35]:
int(b)

2378

In [47]:
df["distance"] = df["distance"].apply(lambda x: float(x.split(" ")[0]) if x.split(" ")[1]=='km' 
                                      else float(x.split(" ")[0])/1000 if x.split(" ")[1]=='m'
                                      else None)

AttributeError: 'float' object has no attribute 'split'

In [ ]:
# a function to transfer distance
def lam(x):
    new = x.split(" ")
    if new[1]  == 'km':
        y = float(new[0])
    elif new[1] == 'm':
        y = float(new[0])/1000

    return y

x="250 m from centre"
lam(x)

In [49]:
df.rename(columns={"distance":"distance from center(km)"},inplace=True)
df

,name,price,rating,vote,distance from center(km)
0,Hostel Acacias,"SEK 1,438",6.4,1393,1.50
1,Habitación Familiar,"SEK 1,542",6.3,480,7.50
2,Hostel OASIS,"SEK 1,542",6.4,129,4.30
3,Hostel Vida Verde,"SEK 1,606",5.5,200,7.70
4,Madrid Downtown Hostel,"SEK 1,898",7.0,4708,0.60
5,Hostel SOFÍA,"SEK 1,948",4.8,599,6.10
6,Hostel Estrella 20,"SEK 2,058",7.8,186,0.70
7,Arc House Pop Art,"SEK 2,064",6.3,541,1.10
8,Hostel sofía,"SEK 2,157",5.5,2501,6.10
9,Motion Chueca Hostel,"SEK 2,200",4.9,7060,0.60
10,Hostel M Torres,"SEK 2,261",8.4,257,11.90
11,Cibeles Hab Compartida masculina 8 X,"SEK 2,342",8.0,15,0.60
12,Petit Hostel La Latina,"SEK 2,442",8.0,3847,1.40
13,Hostels Meetingpoint,"SEK 2,493",7.0,2324,0.80
14,Hostel Thirty One,"SEK 2,505",5.3,2181,3.90
15,Multi Hostel Calvario,"SEK 2,516",6.9,321,0.60
16,Madrid Motion Hostels,"SEK 2,555",5.9,4594,0.35
17,Mola Hostel,"SEK 2,671",8.2,4675,0.30
18,Petit Hostel Palacio Real,"SEK 2,748",8.5,2983,1.20
19,min hostel capsules,"SEK 2,829",6.5,540,5.60
20,Hostelfly,"SEK 2,980",8.4,6999,12.60
21,1-Habitación compartida masculina 8X,"SEK 3,015",8.0,161,0.60
22,Bed Madrid Hostel by Bossh! Hotels,"SEK 3,061",7.1,613,1.00
23,The Adventure Hostel Gran Vía,"SEK 3,106",7.6,1389,0.70
24,Onefam Sungate,"SEK 3,255",9.4,2378,0.25